<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title -->
  <title>Dorne - Directory &amp; Listing Template | Contact</title>

  <!-- Favicon -->
  <link rel="icon" href="../assets/img/core-img/favicon.ico">

  <!-- Core Stylesheet -->

  <!-- Responsive CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<div style = "position:relative; left:300px; top:100px">

<div>
  <h3>{{ this.forum.contenu }} </h3>

  <h4>{{ this.forum.date }} </h4>


</div>


<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Contenu</th>
        <th scope="col">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let v of comments">
        <td>{{ v.contenu }}</td>
        <td>{{ v.date }}</td>

        <td><button (click)="count(v.id)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" (click)="edit(v)">show</button></td>

        <td><button  [disabled]="v.userid != this.userid && this.userrole=='u'"  (click)="deleteComment(v.id)" type="button" class="btn btn-primary">DELETE</button></td>
        <td><button  [disabled]="v.userid != this.userid"   çtype="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="edit(v)">Update</button></td>

      </tr>
      </tbody>

    </table>

  </div>

</div>

<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalv" (click)="viral()">Viral</button></td>

<div class = "text-center">
  <h1>Add New Comment</h1>
</div>


<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #voyageForm="ngForm">
      <div class="form-group">
        <label for="contenu">Contenu</label>
        <input type="text" [(ngModel)]="comment.contenu" class="form-control" id="contenuadd" name="contenuadd" placeholder="Entrer le contenu"
               required #name="ngModel">
      </div>



      <button type="submit" [disabled]="!voyageForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Forum</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm" (ngSubmit)="updateComment()">
          <div class="form-group">
            <label for="contenu">contenu :</label>
            <input type="text" #address [(ngModel)]="comment.contenu" name="contenu" id="contenu"
                   class="form-control" placeholder="contenu">
          </div>


          <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary w-100">
          </div>

        </form>
      </div>

    </div>
  </div>
</div>




<!-- Modal2 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm2="ngForm">

          <div class="form-group">
            <p>{{comment.contenu}}</p>
          </div>
          <div class="form-group">
            <p>{{comment.date}}</p>
          </div>

          <td><button (click)="addlike(1,comment.id)" type="button" class="fa fa-thumbs-up" >Like {{ this.getlike() }}</button></td>
          <td><button (click)="addlike(-1,comment.id)" type="button" class="fa fa-thumbs-down">Dislike {{ this.getdislike() }}</button></td>



        </form>
      </div>

    </div>
  </div>
</div>



<!-- Modal2 -->
<div class="modal fade" id="exampleModalv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelv" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabelv">Most Liked Comment</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm2="ngForm">

          <div class="form-group">
            <p>{{comment.contenu}}</p>
          </div>
          <div class="form-group">
            <p>{{comment.date}}</p>
          </div>

          <td><button (click)="addlike(1,comment.id)" type="button" class="fa fa-thumbs-up" >Like {{ this.getlike() }}</button></td>
          <td><button (click)="addlike(-1,comment.id)" type="button" class="fa fa-thumbs-down">Dislike {{ this.getdislike() }}</button></td>



        </form>
      </div>

    </div>
  </div>
</div>


</div>

